servers/CosmoRp-1.20.1/files/kubejs/config/probe-settings.json
servers/CosmoRp-1.20.1/files/kubejs/startup_scripts/jsconfig.json
servers/CosmoRp-1.20.1/files/kubejs/server_scripts/jsconfig.json
servers/CosmoRp-1.20.1/files/kubejs/jsconfig.json
